tests/integration/inventory.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- XML Schema for validating the inventory.xml generated by xen-bugtool, created using Liquid Technologies Online Tools -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="system-status-inventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="system-summary">
          <xs:complexType>
            <xs:attribute name="date" type="xs:string" use="required" />
            <xs:attribute name="hostname" type="xs:string" use="required" />
            <xs:attribute name="uname" type="xs:string" use="required" />
            <xs:attribute name="uptime" type="xs:string" use="required" />
            <xs:attribute name="user" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="inventory-entry">
          <xs:complexType>
            <xs:attribute name="capability" type="xs:string" use="required" />
            <xs:attribute name="filename" type="xs:string" use="required" />
            <xs:attribute name="md5sum" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
